<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pageobject.PinPage"/>
      <class name="pageobject.Forms"/>
      <class name="test.test.launch"/>
      <class name="pageobject.Logout"/>
      <class name="pageobject.Myteam"/>
      <class name=".NewTest"/>
      <class name="pageobject.AddVisitpage"/>
      <class name="pageobject.appLaunch"/>
      <class name="pageobject.Message"/>
      <class name="pageobject.CheckInDashboardpage"/>
      <class name="test.test.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
